@model RussellGroup.Pims.DataAccess.Models.PlantHire

@{
    ViewBag.Title = "Create";
}

<h2>Plant Hire</h2>

@Html.Partial("_Form")

@section scripts {
    @Scripts.Render("~/Scripts/view-datepickers.js")
}
