@model RussellGroup.Pims.DataAccess.Models.PlantHire
@{
    ViewBag.Title = Html.MvcSiteMap().SiteMapTitle();
}

<h3>@ViewBag.Title</h3>
<h4>@Model.Plant.XPlantIds</h4>
<h5>@Model.Plant.Description</h5>

@Html.Partial("_Form")
