@model RussellGroup.Pims.DataAccess.Models.InventoryHire
@{
    ViewBag.ShowAnchors = true;
    ViewBag.Title = Html.MvcSiteMap().SiteMapTitle();
}

<h3>
    @ViewBag.Title
</h3>

@if (Model is InventoryHireCheckout)
{
    <text>@Html.Partial("_CheckoutForm")</text>
}
else
{
    <text>@Html.Partial("_CheckinForm")</text>
}