@model RussellGroup.Pims.DataAccess.Models.InventoryHire
@{
    ViewBag.Title = Html.MvcSiteMap().SiteMapTitle();
}

<h3>@ViewBag.Title</h3>
<h4>@Model.Inventory.XInventoryId</h4>
<h5>@Model.Inventory.Description</h5>

@Html.Partial("_Form")
