@{
    ViewBag.Title = "Yard Stocktake";
}

<h2>@ViewBag.Title</h2>

<p>@Html.ActionLink("Plant", "YardPlantStocktake", null, new { target = "_blank" })</p>
<p>@Html.ActionLink("Inventory", "YardInventoryStocktake", null, new { target = "_blank" })</p>