<h3 id="what-is-pims">1. What is PIMS?</h3>
<p>
    PIMS stands for Plant and Inventory Management System. In this system, the management is all about
    knowing what is on hand, where they are, and how much they have been used. We collect this information
    so that we can monitor the hire of plant and inventory in and out of the yard and ultimately bill the
    hire to the customer.
</p>