<h3 id="terms">2. Terms</h3>
<p>Here are some terms and what they mean that we'll use throughout this guide.</p>
<table class="table display table-striped order-column table-responsive table-help-guide">
    <thead>
        <tr>
            <th>Term</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="help-guide-term">Plant</td>
            <td>
                These are machinery items that require tracking specific to that item. Each item will
                have a unique number (id) used as an identity. For example, trailers, jack hammers and
                compressors are all plant items.
            </td>
        </tr>
        <tr>
            <td class="help-guide-term">Inventory</td>
            <td>
                These are items that are identical to each other that require tracking,
                and there may be many of them, but they do not have a unique identity.
                For example, planks, scaffolding and base plates are all inventory items.
            </td>
        </tr>
        <tr>
            <td class="help-guide-term">Hire</td>
            <td>
                The temporary assignment of a plant or inventory item to a job.
            </td>
        </tr>
        <tr>
            <td class="help-guide-term">Job</td>
            <td>
                The project or task that a plant or inventory item is hired against.
            </td>
        </tr>
        <tr>
            <td class="help-guide-term">Transaction</td>
            <td>
                The process of hiring a plant or inventory item in or out of the yard.
            </td>
        </tr>
        <tr>
            <td class="help-guide-term">Checkout</td>
            <td>
                A transaction for hiring a plant or inventory item out of the yard to a job.
            </td>
        </tr>
        <tr>
            <td class="help-guide-term">Checkin</td>
            <td>
                A transaction for returning a plant or inventory item from hire back from a
                job to the yard.
            </td>
        </tr>
    </tbody>
</table>