<h3 id="adding-editing-and-deleting-plant">6. Adding, editing and deleting plant</h3>
<p>
    In order for plant to be available for hire in the system, a record of it all must be stored
    somewhere. For each plant the original purchase price of it, the rate at which it is hired out
    and the status and condition is all recorded in PIMS.
</p>
<h4 id="add-new-plant">6.1. Add new plant</h4>
<p>Here's a working example of how to add a new plant:</p>
<ol>
    <li>On the main menu, click <strong>Stock</strong> &raquo; <strong>Plant</strong>.</li>
    <li>Just below the main menu, click <strong>Create New</strong>.</li>
    <li>
        Fill in each of the blank boxes next to each label. Here's what each of them mean:
        <table class="table display table-striped order-column table-responsive table-help-guide">
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Example</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="help-guide-term">id</td>
                    <td>Tprism18</td>
                    <td>
                        This is an identifier for a plant; a short code. This isn't automatically
                        assigned, so you'll need to come up with the ID yourself. It should be unique.
                    </td>
                </tr>
                <tr>
                    <td class="help-guide-term">new id</td>
                    <td>55025</td>
                    <td>
                        This is another identifier for the plant. Some plant have old identifier codes
                        and a process is in place for them to be assigned new identifiers. Use this
                        for the new plant id if an old plant id already exists, otherwise make this
                        the same as the id above.
                    </td>
                </tr>
                <tr>
                    <td class="help-guide-term">description</td>
                    <td>Prism</td>
                    <td>
                        Use a relatively short name of the plant that best describes what it is.
                    </td>
                </tr>
                <tr>
                    <td class="help-guide-term">when purchased</td>
                    <td>1/03/2006</td>
                    <td>
                        The date when the plant was purchased.
                    </td>
                </tr>
                <tr>
                    <td class="help-guide-term">when disused</td>
                    <td></td>
                    <td>
                        The date when the plant was retired from use. Leave this empty if the plant
                        is still in use otherwise it will not show in the list of available items
                        when checking out that plant to a job.
                    </td>
                </tr>
                <tr>
                    <td class="help-guide-term">default rate</td>
                    <td>0.50</td>
                    <td>
                        The default charge out rate for hire. It is a default because individual
                        transactions can have their rate altered which will not affect this rate.
                    </td>
                </tr>
                <tr>
                    <td class="help-guide-term">cost</td>
                    <td>150.00</td>
                    <td>
                        The purchase price of the plant.
                    </td>
                </tr>
                <tr>
                    <td class="help-guide-term">serial</td>
                    <td></td>
                    <td>
                        The serial number on the plant.
                    </td>
                </tr>
                <tr>
                    <td class="help-guide-term">fixed asset code</td>
                    <td></td>
                    <td>
                        The asset number of the plant. Not all plant items will have an asset
                        code, so this can be left empty.
                    </td>
                </tr>
                <tr>
                    <td class="help-guide-term">electrical?</td>
                    <td>No</td>
                    <td>
                        Check the checkbox to indicate the plant is powered electrically.
                    </td>
                </tr>
                <tr>
                    <td class="help-guide-term">tool?</td>
                    <td>No</td>
                    <td>
                        Check the checkbox to indicate the plant is a tool.
                    </td>
                </tr>
                <tr>
                    <td class="help-guide-term">category</td>
                    <td>No</td>
                    <td>
                        The category that the plant falls under.
                    </td>
                </tr>
            </tbody>
        </table>
    </li>
    <li>Click the <strong>Create</strong> button to create the new plant.</li>
    <li>That's it! We just added a new plant and made it available to be hired.</li>
</ol>
<div class="bs-callout bs-callout-info">
    The rate here for a plant is the default rate. This means that whenever a plant is
    checked out then the rate is <i>copied</i> to the transaction. If you then change the
    default rate for the plant it will not affect the specific transaction. This allows
    for you to change the rate of a specific transaction for a job in which you may want
    to, for example, give a one-off discounted rate.<br />
    <br />
    This <strong>default rate</strong> applies to plant only. Inventory does not have a
    default rate as it works differently.
</div>
<h4 id="making-changes-to-plant">6.2. Making changes to plant</h4>
<p>Here's how to edit plant:</p>
<ol>
    <li>On the main menu, click <strong>Stock</strong> &raquo; <strong>Plant</strong>.</li>
    <li>
        In the plant listing locate the line of your plant to edit and click on the
        <strong>Edit</strong> link. You may want to use the search filter to help find your
        plant. You can also get to the edit page via <strong>Details</strong>.
    </li>
    <li>
        Make changes to the plant as appropriate.
    </li>
    <li>
        Consider setting the status and condition of the plant. This will help other users
        when they work with the system.
    </li>
    <li>Click the <strong>Save</strong> button to save the editions.</li>
</ol>
<div class="bs-callout bs-callout-info">
    For some plant you may find you cannot change the status. This will be because the plant is
    checked out. Once the plant has been checked in you will then be able to change the status.
</div>
<h4 id="deleting-a-plant">6.3. Deleting a plant</h4>
<p>Here's how to delete plant:</p>
<ol>
    <li>On the main menu, click <strong>Stock</strong> &raquo; <strong>Plant</strong>.</li>
    <li>
        In the plant listing locate the line of your plant to delete and click on the
        <strong>Delete</strong> link. You may want to use the search filter to help find your
        item. You can also get to the delete page via <strong>Details</strong>.
    </li>
    <li>If permitted, click the <strong>Delete</strong> button to delete the plant.</li>
</ol>
<div class="bs-callout bs-callout-warning">
    You may not be able to delete the plant if it is in use by any jobs. Moreover, it may be that it
    is checked in and yet it still cannot be deleted. This is because the plant is required for
    billing. All transactions of this plant of every job will need to be deleted before the
    actual plant can be removed from the system permanently.<br />
    <br />
    Instead of deleting the plant, <strong>it is recommended to set its</strong> status<strong>,</strong>
    condition<strong> and </strong>when disused <strong>date</strong>.
</div>