<h3 id="categories">7. Categories</h3>
<p>
    A category is a name of a grouping of like plant or inventory. It is used in reporting to group
    together similar items for yard plant and inventory stocktake and plant and inventory locations.
    Categories can also be used to help when searching for plant or inventory in pages that list the
    category.
</p>
<div class="bs-callout bs-callout-warning">
    In order to follow the steps in this section you will need access to the categories. Be sure that
    your user name in PIMS has been assigned the <strong>CanEditCategories</strong> role.
</div>
<h4 id="making-a-new-category">7.1. Making a new category</h4>
<p>Here's how to add a new category:</p>
<ol>
    <li>On the main menu, click <strong>Categories</strong>.</li>
    <li>Just below the main menu, click <strong>Create New</strong>.</li>
    <li>
        Click in the <strong>type</strong> box that says "begin typing a type..." and start typing
        the type of category. A list of category types will appear that match what you have started
        typing. You can use an existing type, such as plant or peri, or you can make an entirely
        new type. Choose something that best describes the grouping of a plant or inventory item.
    </li>
    <li>
        Click in the <strong>name</strong> box and enter a name of the category. This can be
        thought of as a sub-category and further refines the category grouping.
    </li>
    <li>Click the <strong>Create</strong> button to create the new category.</li>
</ol>
<div class="bs-callout bs-callout-info">
    A new category must be associated with plant or inventory before it will show in the reports.
</div>
<h4 id="making-changes-to-a-category">7.2. Making changes to a category</h4>
<p>Here's how to change a category:</p>
<ol>
    <li>On the main menu, click <strong>Categories</strong>.</li>
    <li>
        In the categories listing locate the line of your category to edit and click on the
        <strong>Edit</strong> link. You may want to use the search filter to help find your
        category. You can also get to the edit page via <strong>Details</strong>.
    </li>
    <li>
        Make changes to the <strong>type</strong> and <strong>name</strong> as appropriate.
    </li>
    <li>Click the <strong>Save</strong> button to save the editions.</li>
</ol>
<h4 id="deleting-a-category">7.3. Deleting a category</h4>
<p>Here's how to delete a category:</p>
<ol>
    <li>On the main menu, click <strong>Categories</strong>.</li>
    <li>
        In the categories listing locate the line of your category to delete and click on the
        <strong>Delete</strong> link. You may want to use the search filter to help find your
        category. You can also get to the delete page via <strong>Details</strong>.
    </li>
    <li>If permitted, click the <strong>Delete</strong> button to delete the category.</li>
</ol>
<div class="bs-callout bs-callout-warning">
    You may not be able to delete the category if it is in use by any plant or inventory items.
    To remedy this, select a different category for those items, or delete them, and then you
    will be able to delete the category.
</div>