<h3 id="reports">9. Reports</h3>
<p>
    The reports are used to aid in data entry verification, stocktake and for billing purposes. Some of the
    reports will have numbers next their menu item. These numbers correspond to the reports in the old plant
    database.
</p>
<h4 id="job-reports">9.1. Job reports</h4>
<p>
    The job reports give a listing of all plant and inventory that has been checked out for a specific
    job. The two are slightly different in that the plant report will show all plant that is currently
    checked out to a job at the time the report is run. This plant report is useful when doing a stocktake
    for plant on a job. The inventory report differs in that it will show all inventory that has been
    checked out and checked in since the beginning of the job. The items on both reports are grouped
    together by their category for ease of reading and finding specific items.
</p>
<h5>9.1.1. Plant</h5>
<p>
    To get a listing of all plant currently checked out to a job, follow these steps:
</p>
<ol>
    <li>On the main menu, click <strong>Reports</strong> and then <strong>Jobs #51, #56</strong>.</li>
    <li>Find your job by using the search.</li>
    <li>
        On the right hand side of the page for our searched job, click on <strong>Plant #51</strong>. A
        new tab in your web browser will open and the report will be displayed.
    </li>
    <li>You can print the report or save it as a file.</li>
    <li>When you're done you can close the report by closing the tab of your web browser.</li>
</ol>
<h5>9.1.2. Inventory</h5>
<p>
    To get a listing of all inventory that has been checked out and checked in to a job, follow these steps:
</p>
<ol>
    <li>On the main menu, click <strong>Reports</strong> and then <strong>Jobs #51, #56</strong>.</li>
    <li>Find your job by using the search.</li>
    <li>
        On the right hand side of the page for our searched job, click on <strong>Inventory #56</strong>. A
        new tab in your web browser will open and the report will be displayed.
    </li>
    <li>You can print the report or save it as a file.</li>
    <li>When you're done you can close the report by closing the tab of your web browser.</li>
</ol>
<h4 id="charge-reports">9.2. Charge reports</h4>
<p>
    The charge reports are used for billing from the system. All the checkout and checkin transactions
    the have been recorded are used in these reports. The reports require a start and end date for which
    to calculate the costs in that period. By default, the start date will be set to the first of the
    current month and the end date will be set to the current date. As with the job reports, items are
    grouped by category for ease of reading and finding specific items.
</p>
<p>
    There are three types of charge reports: plant charges for a specific job, inventory charges for a
    specific job, and a financial summary of all current jobs. All of these reports depend upon a specified
    date range.
</p>
<h5>9.2.1. Plant</h5>
<p>
    To get a detailed charge listing of all plant for a job in a given period, follow these steps:
</p>
<ol>
    <li>On the main menu, click <strong>Reports</strong> and then <strong>Charges #50</strong>.</li>
    <li>
        Set the <strong>Date from</strong> date to the start of your billing period. This is usually the
        first of the month.
    </li>
    <li>
        Set the <strong>to</strong> date to the end of your billing period. This is usually the 20th of
        the month.
    </li>
    <li>Find your job by using the search.</li>
    <li>
        On the right hand side of the page for our searched job, click on <strong>Plant Charges #50</strong>.
        A new tab in your web browser will open and the report will be displayed.
    </li>
    <li>You can print the report or save it as a file.</li>
    <li>When you're done you can close the report by closing the tab of your web browser.</li>
</ol>
<h5>9.2.2. Inventory</h5>
<p>
    To get a detailed charge listing of all inventory for a job in a given period, follow these steps:
</p>
<ol>
    <li>On the main menu, click <strong>Reports</strong> and then <strong>Charges #50</strong>.</li>
    <li>
        Set the <strong>Date from</strong> date to the start of your billing period. This is usually the
        first of the month.
    </li>
    <li>
        Set the <strong>to</strong> date to the end of your billing period. This is usually the 20th of
        the month.
    </li>
    <li>Find your job by using the search.</li>
    <li>
        On the right hand side of the page for our searched job, click on <strong>Inventory Charges</strong>.
        A new tab in your web browser will open and the report will be displayed.
    </li>
    <li>You can print the report or save it as a file.</li>
    <li>When you're done you can close the report by closing the tab of your web browser.</li>
</ol>
<h5>9.2.3. Financial Summary</h5>
<p>
    To get a summary charge listing of all plant and inventory for a job in a given period, follow these steps:
</p>
<ol>
    <li>On the main menu, click <strong>Reports</strong> and then <strong>Charges #50</strong>.</li>
    <li>
        Set the <strong>Date from</strong> date to the start of your billing period. This is usually the
        first of the month.
    </li>
    <li>
        Set the <strong>to</strong> date to the end of your billing period. This is usually the 20th of
        the month.
    </li>
    <li>
        Click on the <strong>Financial Summary</strong> link. A new tab in your web browser will open and the
        report will be displayed.
    </li>
    <li>You can print the report or save it as a file.</li>
    <li>When you're done you can close the report by closing the tab of your web browser.</li>
</ol>
<div class="bs-callout bs-callout-info">
    Alternatively, you can click on the <strong>csv</strong> link to download a CSV file equivalent of the
    financial summary which can then be opened using a spreadsheet application such as Microsoft Excel.
</div>
<h4 id="location-reports">9.3. Location reports</h4>
<p>
    The location reports list by category the location of plant or inventory. To get a listing of the locations
    for either, follow these steps:
</p>
<ol>
    <li>On the main menu, click <strong>Reports</strong> and then <strong>Locations #69, #71</strong>.</li>
    <li>Find your category by using the search.</li>
    <li>
        On the right hand side of the page for our searched category, either click on <strong>Plant Locations #69</strong>
        or <strong>Inventory Locations #70</strong> depending on the category you searched. A new tab in your
        web browser will open and the report will be displayed.
    </li>
    <li>You can print the report or save it as a file.</li>
    <li>When you're done you can close the report by closing the tab of your web browser.</li>
</ol>
<h4 id="listings">9.4. Listings</h4>
<p>
    The listings provide a way of extracting data out of PIMS in the form of CSV files. For example, you may
    want to download all plant in the system along with their rate, status and condition. The CSV files can
    then be opened in a spreadsheet application such as Microsoft Excel where you can perform data analysis.
    Follow these steps to download a listing:
</p>
<ol>
    <li>On the main menu, click <strong>Reports</strong> and then <strong>Listings</strong>.</li>
    <li>Click on one of the links for which you want to get CSV data.</li>
    <li>
        You may be prompted that a file is to be downloaded. Follow your web browser instructions to download or
        open the file.
    </li>
</ol>
<h4 id="yard-reports">9.5. Yard reports</h4>
<p>
    The yard reports list plant and inventory that is currently checked in, and in some reports, checked
    out to the system. To determine where plant and inventory is, the entire system must be searched. As
    such, it may take some time for the reports to run.
</p>
<p>
    Here are the yard reports and what they show:
</p>
<table class="table display table-striped order-column table-responsive table-help-guide">
    <thead>
        <tr>
            <th>Report</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="help-guide-term">Plant</td>
            <td>
                Lists plant currently in the yard. These are grouped and ordered by category.
                It only includes plant that have a status of available.
            </td>
        </tr>
        <tr>
            <td class="help-guide-term">Plant Status</td>
            <td>
                Lists all plant in the system, both checked out and checked in. They are grouped and
                ordered by status.
            </td>
        </tr>
        <tr>
            <td class="help-guide-term">Inventory</td>
            <td>
                Lists all inventory and the quantity currently in the yard and the quantity checked out
                to jobs. These are grouped and ordered by category.
            </td>
        </tr>
    </tbody>
</table>