<h3 id="user-management">11. User management</h3>
<p>
    User management deals with permitting individual users to perform tasks in the system. For example,
    you may want one user to create, edit and delete jobs but another user to only view the jobs without
    the ability of changing them.
</p>
<p>
    PIMS is an Intranet application and it piggy-backs off Windows authentication to identify a user.
    This means that the Windows login that is used to log into the organisation's network will be used
    as the user for PIMS. You can verify this by looking at the top righthand corner of PIMS. There it
    will display the currently logged on user.
</p>
<div class="bs-callout bs-callout-info">
    All creates, edits and deletes are recorded in PIMS through an auditing process. These records
    cannot be accessed through the PIMS website but may be examined in the database backend of the
    system.
</div>
<div class="bs-callout bs-callout-warning">
    In order to follow the steps in this section you will need access to user management. Be sure that
    your user name in PIMS has been assigned the <strong>CanEditUsers</strong> role.
</div>
<h4 id="roles">11.1 Roles</h4>
<p>
    The types of tasks that can be performed are called <i>roles</i> and in the system there are four types,
    as described below. The word <i>manage</i> in this list refers to the ability of creating, editing
    and deleting. Users can belong to more than one role.
</p>
<table class="table display table-striped order-column table-responsive table-help-guide">
    <thead>
        <tr>
            <th>Role</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="help-guide-term">CanView</td>
            <td>View jobs, plant, inventory, hire and reports; cannot edit.</td>
        </tr>
        <tr>
            <td class="help-guide-term">CanEdit</td>
            <td>Manage jobs, plant, inventory and hire.</td>
        </tr>
        <tr>
            <td class="help-guide-term">CanEditCategories</td>
            <td>Manage categories.</td>
        </tr>
        <tr>
            <td class="help-guide-term">CanEditUsers</td>
            <td>Manage users.</td>
        </tr>
    </tbody>
</table>
<div class="bs-callout bs-callout-info">
    If a certain user has either not been created in PIMS or does not have the necessary roles and tries
    to access a part of the system then they will receive an <i>unauthorised</i> message.
</div>
<h4 id="making-a-new-user">11.2. Making a new user</h4>
<p>
    Let's create a new user and assign it some roles.
</p>
<ol>
    <li>On the main menu, click <strong>Users</strong>.</li>
    <li>Just below the main menu, click <strong>Create New</strong>.</li>
    <li>
        In the box next to user name enter the user name of a person on your network. It will need to be
        preceded by <code>CONSTRUCTORS\</code>. For example, say there is the user <code>workshop</code> on your
        network, then the user name in PIMS will be <code>CONSTRUCTORS\workshop</code>.
    </li>
    <li>Leave the <strong>locked out?</strong> check box unchecked.</li>
    <li>Check the roles <strong>CanView</strong> and <strong>CanEdit</strong>.</li>
    <li>Click <strong>Create</strong> to create the new user.</li>
</ol>
<p>The new user is immediately ready to use the system.</p>
<h4 id="making-changes-to-a-user">11.3. Making changes to a user</h4>
<p>
    Here's how to edit a user:
</p>
<ol>
    <li>On the main menu, click <strong>Users</strong>.</li>
    <li>
        In the user listing locate the line of your user to edit and click on the
        <strong>Edit</strong> link. You may want to use the search filter to help find your
        user. You can also get to the edit page via <strong>Details</strong>.
    </li>
    <li>
        Make changes to the user as appropriate.
    </li>
    <li>Click the <strong>Save</strong> button to save the editions.</li>
</ol>
<h4 id="deleting-a-user">11.4. Deleting a user</h4>
<p>Here's how to delete a user:</p>
<ol>
    <li>On the main menu, click <strong>Users</strong>.</li>
    <li>
        In the user listing locate the line of your user to edit and click on the
        <strong>Edit</strong> link. You may want to use the search filter to help find your
        user. You can also get to the edit page via <strong>Details</strong>.
    </li>
    <li>Click the <strong>Delete</strong> button to delete the user.</li>
</ol>