@{
    ViewBag.Title = Html.MvcSiteMap().SiteMapTitle();
    ViewBag.HideBreadcrumb = true;
}

<div style="margin-top: 50px">
    <h2>Plant Status</h2>
    <div class="processing-plant">
        Gathering data for the chart...
    </div>
    <div class="processed-plant">
        <div id="pieChart-plant"></div>
    </div>
</div>
<hr />
<div>
    <h2>Plant Condition</h2>
    <div class="processing-condition">
        Gathering data for the chart...
    </div>
    <div class="processed-condition">
        <div id="pieChart-condition"></div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        // Check out the following for loading data through JSON
        // https://developers.google.com/chart/interactive/docs/php_example
        // http://blogs.microsoft.co.il/blogs/pini_dayan/archive/2009/03/12/convert-objects-to-json-in-c-using-javascriptserializer.aspx

        // Here is some more information about charts
        // https://google-developers.appspot.com/chart/interactive/docs/gallery/piechart

        $('.processed-plant').hide();
        $('.processed-condition').hide();

        // Load the Visualization API and the chart package
        google.load('visualization', '1.0', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded
        google.setOnLoadCallback(drawCharts);

        function drawCharts() {
            drawPlantChart();
            drawConditionChart();
        }

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and draws it
        function drawPlantChart() {
            var jsonText = $.ajax({
                url: '@Url.Content("~/Report/GetPlantData")',
                dataType: "json",
                nocache: true,
                async: false
            }).responseText;

            jsonData = $.parseJSON(jsonText);

            // Create the data table
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Status');
            data.addColumn('number', 'Value');

            //for (item in jsonData) {
            jsonData.map(function (item) {
                data.addRows([[item.key, item.value]]);
            });

            // Set chart options
            var options = {
                'is3D': true,
                'width': 900,
                'height': 300,
                'chartArea': { left: 20, top: 0, width: '100%', height: '100%' },
                'colors': ['#0ea31b', '#1e90ff', '#dc0000', '#ffd700', '#808080', '#000000'],
                'sliceVisibilityThreshold': 0,
                'tooltip': { text: 'percentage' }
            };

            // Instantiate and draw the chart, passing in some options
            var chart = new google.visualization.PieChart(document.getElementById('pieChart-plant'));
            chart.draw(data, options);

            $('.processing-plant').hide();
            $('.processed-plant').show();
        }

        function drawConditionChart() {
            var jsonText = $.ajax({
                url: '@Url.Content("~/Report/GetConditionData")',
                dataType: "json",
                nocache: true,
                async: false
            }).responseText;

            jsonData = $.parseJSON(jsonText);

            // Create the data table
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Condition');
            data.addColumn('number', 'Value');

            //for (item in jsonData) {
            jsonData.map(function (item) {
                data.addRows([[item.key, item.value]]);
            });

            // Set chart options
            var options = {
                'is3D': true,
                'width': 900,
                'height': 300,
                'chartArea': { left: 20, top: 0, width: '100%', height: '100%' },
                'colors': ['#dc0000', '#0ea31b', '#1e90ff', '#ffd700', '#808080'],
                'sliceVisibilityThreshold': 0,
                'tooltip': { text: 'percentage' }
            };

            // Instantiate and draw the chart, passing in some options
            var chart = new google.visualization.PieChart(document.getElementById('pieChart-condition'));
            chart.draw(data, options);

            $('.processing-condition').hide();
            $('.processed-condition').show();
        }
    </script>
}