body {
    padding-top: 60px;
    padding-bottom: 40px;
}

h5 {
    font-weight: bold;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.code {
    font-family: monospace;
}

    .code.code-block {
        padding: 10px;
        margin-left: 25px;
    }

#logo {
    padding-top: 6px;
    padding-right: 30px;
}

#environment {
    color: red;
    font-weight: 900;
    font-size: xx-large;
    padding-right: 10px;
    margin-top: -8px;
}

input[type=number] {
    text-align: right;
}

.form-group input[type=checkbox], dl .check-box {
    height: 24px;
}

.form-data {
    height: 34px;
    padding: 8px 12px;
    font-size: 14px;
    color: #555;
}

ol {
    counter-reset: item;
}

    ol li {
        display: block;
        position: relative;
    }

        ol li:before {
            content: counters(item, ".")".";
            counter-increment: item;
            position: absolute;
            margin-right: 100%;
            right: 10px; /* space between number and text */
        }

.scans {
    height: 15em !important;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.breadcrumb {
    background-color: inherit !important;
    padding-left: 0;
    border-bottom: 1px solid #e5e5e5;
    -webkit-border-raduis: 0;
    border-radius: 0;
}

dt, dd {
    line-height: 2;
}

.dl-horizontal > dd:after {
    display: table;
    content: "";
    clear: both;
}

.form-horizontal .form-group .form-control-feedback {
    position: inherit;
    display: inline;
}

footer {
    font-size: smaller;
}

.checkout-item {
    margin-bottom: 5px;
}

/* pie charts */
#pie-charts {
    margin-top: 40px;
}

    #pie-charts > div > h3 {
        margin-bottom: 0;
    }

.chart-processing {
    margin-top: 15px;
}

/* table corrections */
table.dataTable thead th, table.dataTable {
    border-bottom: 1px solid #333;
}

.table tbody > tr > td {
    vertical-align: middle;
}

table input[type=checkbox] {
    height: inherit !important;
}

/* table sorting */
table.dataTable thead .sorting {
    background: none;
}

    table.dataTable thead .sorting:after {
        content: url("sort_both.png");
    }

table.dataTable thead .sorting_asc {
    background: none;
}

    table.dataTable thead .sorting_asc:after {
        content: url("sort_asc.png");
    }

table.dataTable thead .sorting_desc {
    background: none;
}

    table.dataTable thead .sorting_desc:after {
        content: url("sort_desc.png");
    }

table.dataTable thead .sorting_asc_disabled {
    background: none;
}

    table.dataTable thead .sorting_asc_disabled:after {
        content: url("sort_asc_disabled.png");
    }

table.dataTable thead .sorting_desc_disabled {
    background: none;
}

    table.dataTable thead .sorting_desc_disabled:after {
        content: url("sort_desc_disabled.png");
    }

table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
    background-color: #f9f9f9;
}

table.dataTable.order-column tbody tr.selected > .sorting_1,
table.dataTable.order-column tbody tr.selected > .sorting_2,
table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
table.dataTable.display tbody tr.selected > .sorting_2,
table.dataTable.display tbody tr.selected > .sorting_3 {
    background-color: #acbad4;
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #f1f1f1;
}

table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
    background-color: #f3f3f3;
}

table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
    background-color: whitesmoke;
}

table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
    background-color: #a6b3cd;
}

table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
    background-color: #a7b5ce;
}

table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
    background-color: #a9b6d0;
}

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #f9f9f9;
}

table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
    background-color: #fbfbfb;
}

table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
    background-color: #fdfdfd;
}

table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
    background-color: #acbad4;
}

table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
    background-color: #adbbd6;
}

table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
    background-color: #afbdd8;
}

table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.display tbody tr.odd:hover > .sorting_1,
table.dataTable.display tbody tr.even:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr.even:hover > .sorting_1 {
    background-color: #eaeaea;
}

table.dataTable.display tbody tr:hover > .sorting_2,
table.dataTable.display tbody tr.odd:hover > .sorting_2,
table.dataTable.display tbody tr.even:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2,
table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_2,
table.dataTable.order-column.hover tbody tr.even:hover > .sorting_2 {
    background-color: #ebebeb;
}

table.dataTable.display tbody tr:hover > .sorting_3,
table.dataTable.display tbody tr.odd:hover > .sorting_3,
table.dataTable.display tbody tr.even:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3,
table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_3,
table.dataTable.order-column.hover tbody tr.even:hover > .sorting_3 {
    background-color: #eeeeee;
}

table.dataTable.display tbody tr:hover.selected > .sorting_1,
table.dataTable.display tbody tr.odd:hover.selected > .sorting_1,
table.dataTable.display tbody tr.even:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1,
table.dataTable.order-column.hover tbody tr.odd:hover.selected > .sorting_1,
table.dataTable.order-column.hover tbody tr.even:hover.selected > .sorting_1 {
    background-color: #a1aec7;
}

table.dataTable.display tbody tr:hover.selected > .sorting_2,
table.dataTable.display tbody tr.odd:hover.selected > .sorting_2,
table.dataTable.display tbody tr.even:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2,
table.dataTable.order-column.hover tbody tr.odd:hover.selected > .sorting_2,
table.dataTable.order-column.hover tbody tr.even:hover.selected > .sorting_2 {
    background-color: #a2afc8;
}

table.dataTable.display tbody tr:hover.selected > .sorting_3,
table.dataTable.display tbody tr.odd:hover.selected > .sorting_3,
table.dataTable.display tbody tr.even:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3,
table.dataTable.order-column.hover tbody tr.odd:hover.selected > .sorting_3,
table.dataTable.order-column.hover tbody tr.even:hover.selected > .sorting_3 {
    background-color: #a4b2cb;
}

/* typeahead */
.tt-input-group {
    width: 100%;
}

.twitter-typeahead {
    display: inline !important;
    float: none;
}

.typeahead-description {
    font-weight: bold;
}

.typeahead-id {
    display: inline;
    font-family: 'Courier New', Courier, monospace;
}

/* multisortable jquery ui widget */
.sortable-list {
    background-color: #ddd;
    list-style: none;
    height: 400px;
    min-height: 60px;
    padding: 10px;
    overflow-x: hidden;
}

.sortable-list-instructions {
    margin-top: 165px;
}

.sortable-list li {
    margin: 2px 0;
    cursor: pointer;
}

    .sortable-list li.selected {
        outline: 1px solid #888;
    }

    .sortable-list li.child {
        margin-left: 20px;
    }



.sortable-item {
    background-color: #fff;
    border: 1px solid #eeeeee;
    cursor: move;
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;
}

.hidden {
    opacity: 0;
}

select[multiple], select[size] {
    height: 400px;
    ;
}
