body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#logo {
    padding-top: 6px;
    padding-right: 30px;
}

#environment {
    color: red;
    font-weight: 900;
    font-size: xx-large;
    padding-right: 10px;
    margin-top: -8px;
}

input[type=number] {
    text-align: right;
}

.form-group input[type=checkbox], dl .check-box {
    height: 24px;
}

ol {
    counter-reset: item;
}

    ol li {
        display: block;
        position: relative;
    }

        ol li:before {
            content: counters(item, ".")".";
            counter-increment: item;
            position: absolute;
            margin-right: 100%;
            right: 10px; /* space between number and text */
        }

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.breadcrumb {
    background-color: inherit !important;
    padding-left: 0;
    border-bottom: 1px solid #e5e5e5;
    -webkit-border-raduis: 0;
    border-radius: 0;
}

dt, dd {
    line-height: 2;
}

.dl-horizontal > dd:after {
    display: table;
    content: "";
    clear: both;
}

.form-horizontal .form-group .form-control-feedback {
    position: inherit;
    display: inline;
}

footer {
    font-size: smaller;
}

.checkout-item {
    margin-bottom: 5px;
}

/* table corrections */

.dataTables_filter input {
    font-weight: normal;
}

th {
    text-align: left;
}

table.dataTable thead .sorting:after {
    content: "\00a0\00a0";
}

table.dataTable thead .sorting_asc:after {
    content: "\00a0\00a0";
}

table.dataTable thead .sorting_desc:after {
    content: "\00a0\00a0";
}

.table tbody > tr > td {
    vertical-align: middle;
}

table input[type=checkbox] {
    height: inherit !important;
}

/* typeahead */
.tt-input-group {
    width: 100%;
}

.twitter-typeahead {
    display: inline !important;
    float: none;
}

.typeahead-description {
    font-weight: bold;
}

.typeahead-id {
    display: inline;
    font-family: 'Courier New', Courier, monospace;
}
