@model RussellGroup.Pims.DataAccess.Models.Plant
@{
    ViewBag.Title = Html.MvcSiteMap().SiteMapTitle();
}

<h3>@ViewBag.Title</h3>
<h4>@Model.XPlantId</h4>
<h5>@Model.Description</h5>

@Html.Partial("_Form")
