@model RussellGroup.Pims.DataAccess.Models.Inventory

@{
    ViewBag.Title = "Create";
}

<h2>Inventory</h2>

@Html.Partial("_Form")

@section scripts {
    @Scripts.Render("~/Scripts/view-inventory.js")
}
